@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.wrapper {
  margin-top: 90px;
  margin-bottom: 90px;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;

  &-primary {
    background-color: $color-primary;
    color: #fff;
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-unstyled {
    background-color: transparent;
    border: 0;
  }
}

.form {
  &-group {
    margin-bottom: 15px;

    &--error {
      .form-control {
        border-color: red;
      }
    }
  }

  &-control {
    display: block;
    padding: 12px 18px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
}

.text {
  &-center {
    text-align: center !important;
  }

  &-right {
    text-align: right !important;
  }

  &-left {
    text-align: left !important;
  }
}

label {
  margin-bottom: 9px;
  display: inline-block;
}
